# Environtment Variables
.env

# Cookies (Authentication)
cookies.txt
cookies_tiktok.txt
cookies_youtube.txt

# Directories
temp/
venv/
__pycache__/

# Python
*.pyc
.ipynb_checkpoints/

# System Files
.DS_Store
Thumbs.db
